.no-data{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(245, 245, 245, .95);
    text-align: center;
    .content{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        img{
            display: block;
            margin: 0 auto;
        }
        p{
            font-size: 18px;
            margin-top: 12px;
        }
    }

}